

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  background-color: rgba(30, 53, 37, 0.87);
}
h1{
  font-family: tahoma;
  font-weight: 100;
  color: rgba(215, 218, 216, 0.87);
  font-size: 45rem;
  margin: 0;
  padding-bottom: 0%;
  display: inline-block;
}
h2{
  font-family: tahoma;
  font-weight: 100;
  color: rgba(215, 218, 216, 0.87);
  font-size: 45rem;
  margin: 0;
  padding-top: 25%;
  padding-bottom: 0%;
  text-align: left;
  display: inline-block;
}
p{
  text-align: right;
  color: brown;
  font-size: 2.5rem;
  font-family: tahoma;
  padding-top: 20%;
  align-items: flex-end;
}

.column {
  float: left;
  width: 25%;
  }

  .row:after {
  content: "";
  display: table;
  clear: both;
  height: fit-content;
  }

  

  .animation1{
    animation-name: initials1;
    animation-delay: 5ms;
    animation-duration: 2s;
  }
  @keyframes initials1 {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }

  .animation2{
    animation-name: initials2;
    animation-delay: 1ms;
    animation-duration: 1s;
  }
  @keyframes initials2 {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }


